.advantages {
  padding-bottom: 0px;

  &__list {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
  }

  &__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }

  &__pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: $portfolio-btn-color;
  }

  &__title {
    margin-bottom: 10px;
    margin-top: 30px;
    font-family: $main-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-font-color;
  }

  &__text {
    font-family: $main-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
  }
}
